
@{
    ViewBag.Title = "RegistroEmpresa";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>RegistroEmpresa</title>
    <!--Css-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--javascript-->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <h2>RegistroEmpresa</h2>
    <div class="row">
        <table>
            <tr>
                <th>
                    <b> Registrar empresa</b>
                </th>
            </tr>
        </table>

    </div>
    <div>


    </div>


</body>
</html>



